/* Escritorio */
main {
    margin: 2rem 0;
    height: 80vh;
    width: 70vw;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(8, 1fr);
    gap: 8px;
}

main > div {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: bold;

    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.651);
    border-radius: 12px;
    border: 1px solid #e8e8e810;
    transition: border 0.3s ease, transform 0.2s ease;
}

main > div:hover {
    border: 1px solid #e8e8e8d0;
}

/* Desktop */
.div1 { grid-column: span 3 / span 3; grid-row: span 4 / span 4; }
.div2 { grid-row: span 6 / span 6; grid-column-start: 4; }
.div3 { grid-row: span 4 / span 4; grid-row-start: 5; }
.div4 { grid-row-start: 5; }
.div5 { grid-row: span 2 / span 2; grid-column-start: 2; grid-row-start: 6; }
.div6 { grid-column-start: 2; grid-row-start: 8; }
.div7 { grid-column-start: 3; grid-row-start: 5; }
.div8 { grid-column-start: 3; grid-row-start: 6; }
.div9 { grid-column-start: 3; grid-row-start: 7; }
.div10 { grid-column-start: 3; grid-row-start: 8; }
.div11 { grid-column-start: 4; grid-row-start: 7; }
.div12 { grid-column-start: 4; grid-row-start: 8; }

/* Laptop */
@media (max-width: 1368px) {
  main {
    height: 85vh;
    width: 90vw;
  }
}

/* Tablet */
@media (max-width: 1025px) {
  body { width: 100%; height: 100vh; }
  
  main {
    height: 90vh;
    width: 95vw;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(12, 1fr);
    gap: 8px;
  }
  
  .div1 { grid-column: span 5 / span 5; grid-row: span 5 / span 5; } 
  .div2 { grid-column: span 2 / span 2; grid-row: span 5 / span 5; grid-row-start: 6; } 
  .div3 { grid-column: span 2 / span 2; grid-row: span 4 / span 4; grid-column-start: 3; grid-row-start: 6; } 
  .div4 { grid-column-start: 5; grid-row-start: 6; } 
  .div5 { grid-column: span 2 / span 2; grid-row: span 2 / span 2; grid-column-start: 3; grid-row-start: 10; } 
  .div6 { grid-column-start: 5; grid-row-start: 11; } 
  .div7 { grid-column-start: 5; grid-row-start: 7; } 
  .div8 { grid-column-start: 5; grid-row-start: 8; } 
  .div9 { grid-column-start: 5; grid-row-start: 9; } 
  .div10 { grid-column-start: 5; grid-row-start: 10; } 
  .div11 { grid-column: span 2 / span 2; grid-row: span 2 / span 2; grid-column-start: 1; grid-row-start: 11; } 
  .div12 { grid-column: span 2 / span 2; grid-column-start: 3; grid-row-start: 12; }
      
}

/* Mobile */
@media (max-width: 768px) {
  body {
    width: 100%;
    height: 340vh;
  }

  main {
    height: 240vh;
    width: 94vw;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(20, 1fr);
    gap: 8px 0;
  }

  .div1 { grid-row: span 3 / span 3; grid-column: 1; }
  .div2 { grid-row: span 5 / span 5; grid-column: 1; }
  .div3 { grid-row: span 3 / span 3; grid-column: 1; }
  .div4 { grid-row: span 1 / span 1; grid-column: 1; }
  .div5 { grid-row: span 1 / span 1; grid-column: 1; }
  .div6 { grid-row: span 1 / span 1; grid-column: 1; }
  .div7 { grid-row: span 1 / span 1; grid-column: 1; }
  .div8 { grid-row: span 1 / span 1; grid-column: 1; }
  .div9 { grid-row: span 1 / span 1; grid-column: 1; }
  .div10 { grid-row: span 1 / span 1; grid-column: 1; }
  .div11 { grid-row: span 1 / span 1; grid-column: 1; }
  .div12 { grid-row: span 1 / span 1; grid-column: 1; }
}